/* Other rules */

/* APP.JS */

header {
  width: 100%;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 100px;
  object-fit: cover;
  height: auto;
}

.big-picture {
  width: 100%;
  height: 200px;
  background: rgb(186, 186, 229);
  border: solid blue 2px;
}

.box-in-big-picture {
  width: 20%;
  height: 80%;
  background: white;
  margin-left: 20px;
  text-align: center;
}

/* HOME PAGE  */

.home-offers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-wrapper {
  display: flex;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 200px;
}

.owner img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.price-information {
  width: 20px;
  height: 20px;
  border: 50%;
  background: lightgrey;
}

/* OFFER PAGE */

.offer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(203, 208, 247);
}

.offer-pictures {
  width: 50%;
  /* border: solid red 3px; */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}

.offer-pictures img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 10px;
}

.product-details {
  width: 50%;
  /* border: solid red 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background: white;
}

.offer-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
}

.offer-price {
  font-weight: bold;
  font-size: 2rem;
}

.offer-pics {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
}

.product-description {
  color: #333;
}

.account-initial {
  background: brown;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.offer-owner-name {
  display: flex;
  align-items: center;
}

.acheter {
  color: white;
  background: turquoise;
  padding: 5px 10px;
}

/* NO MATCH PAGE  */

.no-match-container {
  font-weight: bold;
  font-size: 4rem;
}
