/* Other rules */
html,
body,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* APP.JS */

header {
  width: 100%;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 100px;
  object-fit: cover;
  height: auto;
}

.search-input {
  border: #333 solid 1px;
  display: flex;
  padding: 2px;
  border-radius: 2px;
}

.search-input input {
  border-style: hidden;
}

.search-icon {
  color: #333;
}

.sell-your-articles {
  background: turquoise;
  color: white;
}

.big-picture {
  width: 100%;
  height: 260px;
  background: rgb(186, 186, 229);
  background-image: url(/src/assets/images/banner.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* border: solid blue 2px; */
}

.box-in-big-picture {
  width: 20%;
  height: 80%;
  background: white;
  margin-left: 20px;
  text-align: center;
}

.box-in-big-picture img {
  border: black solid 3px;
}

/* HOME PAGE  */

.home-wrapper {
  width: 100%;
  /* border: black 4px solid; */
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.home-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid red 3px; */
  width: 20%;
  margin: 5px;
}

.owner-and-product {
  display: flex;
  flex-direction: column;
}

.avatar-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: solid #333 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(215, 215, 252);
}

.price-and-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 0.8rem;
}

.product-image {
  width: 100%;
  height: 200px;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 100%;
  font-size: 0.8rem;
  color: #333;
}

.owner img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.price-information {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background: lightgrey;
}

/* OFFER PAGE */

.offer-wrapper {
  margin-top: 30px;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgb(203, 208, 247);
}

.offer-pictures {
  width: 100%;
  border: solid rgb(243, 151, 151) 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}

.offer-pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px;
  border: dashed rgb(46, 8, 8) 3px;
}

.product-details {
  width: 50%;
  /* border: solid red 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background: white;
}

.offer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.offer-price {
  font-weight: bold;
  font-size: 2rem;
}

.offer-pics {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-name {
  font-size: 1rem;
  font-weight: bold;
}

.product-description {
  color: #333;
}

.account-initial {
  background: brown;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.offer-owner-name {
  display: flex;
  align-items: center;
}

.acheter {
  color: white;
  background: turquoise;
  padding: 5px 10px;
}

/* NO MATCH PAGE  */

.no-match-container {
  font-weight: bold;
  font-size: 4rem;
}

/* SIGN UP PAGE */

.signup-page {
  background: rgb(222, 235, 243);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  /* border: red solid 3px; */
  background: whitesmoke;
}

form p {
  /* border: solid black 3px; */
  width: 100%;
  font-size: 0.6rem;
  color: #333;
}

.inputs-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  /* border: red solid 3px; */
}

.inputs-basic input {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-color: rgb(233, 78, 103);
  width: 100%;
  padding: 20px 70px 5px 5px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 20px;
}

.checkbox {
  padding-top: 10px;
}
.news-subs {
  padding-top: 10px;
  color: #333;
  width: 100%;
  font-size: 0.6rem;
}

.submit {
  color: white;
  font-weight: bold;
  background: rgb(24, 136, 125);
  padding: 10px 130px;
}

.already-account {
  color: rgb(24, 136, 125);
  text-align: center;
  max-width: 100%;
  font-size: 0.6rem;
}

.red {
  background-color: rgb(119, 31, 46);
}

.grey {
  background: lightgray;
}

/* FILTER */

.price-sorting {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.filter-slider {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 10px;
  font-size: 0.8rem;
}

.sliderArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.turquoise {
  color: turquoise;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(24, 136, 125);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(24, 136, 125);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slidders::before {
  content: "1";
}

.slidders::after {
  content: "100";
}

/* PAGINATION */
.filter-offer-page {
  border: turquoise 3px solid;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

/* MODAL */

.modal {
  background: pink;
  position: fixed;
  max-width: 40%;
  max-height: 80vh;
}

/* PUBLISH */

.publish-wrapper {
  width: 90%;
  /* height: 90vh; */
  margin: 0 auto;
  background: rgb(224, 238, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 20px #ccc;
}

.publish-file-part-wrap {
  width: 80%;
  height: 120px;
  border: dashed red 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.publish-wrapper form {
  height: 100%;
}

.publish-boxes-wrapper {
  width: 100%;
  margin: 0 auto;
  /* border: blue solid 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #333;
}

.publish-wrapper input {
  padding: 5px 100px 2px 1px;
  font-size: 0.7rem;
  text-align: left;
}

.publish-description-box {
  width: 80%;
  height: 30%;
  border: dashed #333 1px;
}

.publish-part-wrap {
  display: flex;
  justify-content: space-between;
}

.checkbox-text {
  font-size: 0.8rem;
}

.publish-details {
  width: 80%;
  height: 60%;
  border: dashed #333 1px;
}

.publish-price {
  width: 80%;
  height: 20%;
  border: dashed #333 1px;
}

.publish-submit-part-wrap {
  display: flex;
  /* justify-content: flex-end;  A REVOIR CONFLIT AVEC PRECEDENT */
}

.publish-submit-part-wrap button {
  background: turquoise;
  color: white;
}
